*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    list-style: none;
}

/*-------------------------------------------*\
                  Body
\*-------------------------------------------*/
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #EBF7FC;
}
a{
    color: #BACBDD;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: #E1E9F4;
}
h1{
    font-family: 'Sanchez', serif;
    font-size: 3.4rem;
    font-weight: 200;
}
h2{
    font-family: 'Sanchez', serif;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 2px;
}
p{
    line-height: 30px;
    margin: 10px 10px ;
}
/*Classe button*/
.button{
    outline: none;
    color: #E1E9F4;
    border: 1px solid #527B9E;
    background-color: #527B9E;
    border-radius: 50px;
    padding: 3px 3px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    min-height: 3.5vh;
    min-width: 1vw;
}
button{
    outline: none;
    color: #E1E9F4;
    border: 1px solid #527B9E;
    background-color: #527B9E;
    border-radius: 50px;
    padding: 3px 3px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    height: 3vh;
    width: 7vw;
}
/*-------------------------------------------*\
                  Header
\*-------------------------------------------*/
header{
    background-color: #DAE2ED;
    height: 10vh;
    display: grid;
    grid-template-columns: 10% 60% 30%;
}
/*Menu défilant*/
#header_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/*div du logo*/
#header_title_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 10vh;
}
/*logo*/
#header_title_img img{
    width: 30rem;
    margin-left: 100%;
}
/*div du titre*/
#header_h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    margin-left: 15%;
    font-weight: 400;
}
/*div du et logo titre*/
#header_title{
    height: 28%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
}
/*titre*/
#header_title h1{
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 124.7%;
    /* or 67px */
    text-align: center;
    color: #544A4A;
    mix-blend-mode: normal;
    box-sizing: border-box;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
/*barre de recherche et boutons*/
#header_lien{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
}
/*Contient barre recherche, logo, button*/
#header_lien_grid1{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*barre recherche*/
header input{
    border: none;
}
#déroul{
    display: flex;
    flex-direction: column;

}
.DEL .fermer {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.DEL a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #527B9E;
}
.colorlien{
    padding-bottom: 5vh;
}
.DEL a:hover{
    color: #9EB5CC;
    background-color: #527B9E;
    transition: 0.3s;
}
.DEL {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: #DAE2ED;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}
#header_submit{
    background-color: transparent;
    color: transparent;
    width: 5px;
    text-align: center;
}
input[type="text"], input[type="submit"]{
    outline: none;
}
header form{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid black;
    padding-bottom: 2px;
    padding-top: 2px;
    width: 15vw;
    height: 2.2vh!important;
}
/*logo i*/
header i{
    color: #527B9E;
}
#header_lien_button{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7vw;
}
#header_panier{
    margin-left: 5vw;
}
/*-------------------------------------------*\
                  Footer
\*-------------------------------------------*/
footer{
    background: #DAE2ED;
    display: grid;
    grid-template-rows: 50% 50%;
    padding-top: 6px;
}
/*Logo */
#footer_div1{
    letter-spacing: 20px;
    border-bottom: solid black 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #527B9E;
    padding-bottom: 5px;
}
#footer_div1 i:hover{
    color: #9EB5CC;
}
/*mention*/
#footer_div2{
    font-size: 1.3rem;
    color: #7B7F86;
    text-align: center;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

main{
    flex-grow: 1;
}
/*-------------------------------------------*\
                 Page ACCUEIL
\*-------------------------------------------*/

#accueil_main{
    display: flex;
    flex-direction: column;
}
/*promo printemps*/
#accueil_section1{
    background-repeat: inherit;
    background-size: contain;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 220px;
}
/*Phrase*/
#accueil_section1_article1{
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*Code promo*/
.promo{
    color: #DAE2ED !important;
}
.nompromo{
    color: #527B9E;
    font-size: 2rem;
}
#accueil_section1_article1 h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.6rem;
    background-color: #E9E9EA;
    width: 30vw;
    height: 10vh;
    border-radius: 18px;
    color: #525863 !important;
}

#accueil_section1_article2{
    background-image: url("../img_docs/bois.png");
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.traimoyen{
    background-color: black;
    height: 1px;
    margin-top: 5%;
    width: 50%;
    margin-left: 25vw;
}
/*Contient les smartphones populaire*/
#accueil_section2{
    display: flex;
    flex-direction: row;
    justify-content: center;!important;
    text-align: center;
}
#accueil_section2{
    width: 100%;
    padding-left: 14vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr ;
    grid-row-gap: 20px;
}
/*-------------------------------------------*\
                Card ACCUEIL
\*-------------------------------------------*/
/*Les card*/
.accueil_card:hover{
    margin-top: -2%;
    transition: 0.5s;
}
.accueil_card{
    height: 48vh;
    width: 20vw;
    background-color: #E1E1E1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(-25px 67px 54px rgba(196, 194, 194, 0.68));
    border-radius: 33px;
}
.card_img{
    margin-bottom: 3%;
}
.card_img img{
    width: 100%;
    border-radius: 32px 32px 0 3px;
}
.card_description{
    display: flex;
    flex-direction: column;
    color: #527B9E;
}
.accueil_card h3{
    text-transform: uppercase;
    font-size: 2rem;
    font-family: Sanchez, Arial, serif;
    font-weight: 1;
}
.logo_card{
    border-top: solid #525863 1px;
    padding-top: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
}
.logo_card p{
    color: #527B9E;
    font-size: 2rem;
}
.logo_card input{
    margin-left: 5%;
    width: 3vw;
    height: 3vh;
    background-color: #527B9E;
    color: #F2F2F2;
}
.number::placeholder{
    color: #F2F2F2;
}
.logo_card i{
    color: #527B9E;
}

/*Titre du main*/
#accueil_main h2{
    color: #527B9E;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 1%;
    margin-top: 1%;
}

/*-------------------------------------------*\
                 Formulaire ACCUEIL
\*-------------------------------------------*/
/*Contient le form*/
#accueil_section3_article-form{
    height: 50vh;
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
/*Formulaire*/
#form_contacte{
    height: 45vh;
    width: 30%;
    background-color: #DAE2ED;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

#form_contacte input,textarea{
    width: 13vw;
    margin-left: 3%;
}
/*1er input*/
#accueil_form1{
    margin-bottom: 5%;
}
/*2 e input*/
#accueil_form2{
    display: flex;
    justify-content: center;
    color: #527B9E;
    font-size: 1.7rem;
    margin-bottom: 5%;
}
/*textarea*/
#accueil_form3{
    display: flex;
    justify-content: center;
    color: #527B9E;
    font-size: 1.7rem;
    margin-bottom: 5%;
}
/*button*/
#accueil_form4{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    color: #527B9E;
    font-size: 1.7rem;
    margin-bottom: 5%;
}
/*Textarea*/
#contient_textarea{
    width: 100%;
    display: flex;
    justify-content: center;
}
#textare{
    height: 7vh;
    width: 20vw;
    margin-top: 1.3%;
}

/*-------------------------------------------*\
                 Page REGISTER
\*-------------------------------------------*/
#register_main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;
}
#register_section1{
    height: 40vh;
    display: grid;
    grid-template-columns: 40% 60%;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 3%;
    color: #527B9E;
}
#register_titre h1{
    font-size: 2.6rem;
}
/*Paragraphe*/
#register_text1{
    display: flex;
    justify-content: center;
    position: relative;
}
#register_text1 p{
    width: 15vw;
}
#register_g1{
    position: absolute;
    top: 0;
    left: 80px;
    font-size: 6rem;
    rotation: 6deg;
    font-family: 'Secular One', sans-serif;
    color: #E1E9F4;
}
#register_g2{
    position: absolute;
    bottom: 0;
    right: 80px;
    font-size: 6rem;
    rotation: 6deg;
    font-family: 'Secular One', sans-serif;
    color: #E1E9F4;
}

/*Section du formulaire*/
#register_section2{
    background-color: #FAFBFC;
    height: 60vh;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    margin-bottom: -3%;
}

/*Formulaire*/
#register_form{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    background-color: #DAE2ED;
    align-items: center;
    border-radius: 45px;
}
/*Titre form*/
#register_form_article1{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 1%;
    color: #315d7b;
}
/*input*/
#register_form_article2{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 4%;
}
/*Contient les input et label*/
.register_form_contient{
    width: 100%;
    min-height: 6vh;
    display: flex;
    justify-content: space-between;
}

.register_labput{
    width: 48%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}
.register_labput input {
    height: 3vh;
    width: 12vw;
    background-color: #EBF7FC;
    border: none;
}
.register_labput input:focus{
    border: rgba(20, 157, 211, 0.42) solid 1px;
}
.register_form_contient label,input{
    margin-right: 7%;
}
.register_labput label{
    padding-right: 3%;
    font-size: 1.6rem;
    color: #315d7b;
}
#labelcompte{
    font-size: 1.5rem;
    width: 1000vw;
    color: #315d7b;
}
/*-------------------------------------------*\
                 Page Login
\*-------------------------------------------*/
#login_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section_login{
    display: flex;
    justify-content: center;
}

/*Form login*/
#login_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 50vh;
    background-color: #DAE2ED;
    border-radius: 45px;
}
/*Article contenant input, label*/
.login_article{
    display: flex;
    justify-content: center;
}
.login_article_button{
    display: flex;
    justify-content: center;
}
/*Contient le label et input*/
.login_labput{
    width: 12.2vw;
}
.login_labput2{
    width: 12.2vw;
    margin-left: -6%;
}
.login_labput input {
    height: 3vh;
    width: 12vw;
    background-color: #EBF7FC;
    border: none;
}
.login_labput input:focus{
    border: rgba(20, 157, 211, 0.42) solid 1px;
}

.login_labput label{
    font-size: 1.6rem;
    color: #315d7b;
}
#lolo{
    font-size: 2.3rem;
    color: #315d7b;
}
.lolo2{
    font-size: 1.6rem;
    color: #315d7b;
    margin-left: 0;
}
/*Les input radio*/
#login_labput_radio{
    height: 5vw;
    width: 10vw;
    display: flex;
    flex-direction: column;
}
/*Les input radio*/
.radio{
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;
    width: 15vw;
}
.lolo3{
    height: 2.8vh;
    width: 10vw;
    background-color: #EBF7FC;
    border: none;
}
/*Les label radio*/
.centre_radio2{
    width: 8vw;
    text-align: center;
    align-items: center;
}
/*-------------------------------------------*\
                 Page Profil
\*-------------------------------------------*/
#profil_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section_profil{
    display: flex;
    justify-content: center;
}

/*Form login*/
#profil_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 50vh;
    background-color: #DAE2ED;
    border-radius: 45px;
}

#register_form_article3_button{
    width: 100%;
    display: flex;
    justify-content: center;
}

.marg{
    margin-right: 0;
}
/*-------------------------------------------*\
                 Page Article
\*-------------------------------------------*/
#produit_main{
    min-height: 20vh;
}
/*La ligne d'un produit*/
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr ;
    grid-row-gap: 20px;
    width: 100%;
    margin-left: 10%;
}
/*La section d'une marque*/
.articlegrid{
    display: flex;
    flex-direction: column;
}
.articlegrid h1{
    margin-top: 5%;
}
/*Du flex pour centrer le grid*/
#flexcard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
/*Card*/
.produit_card{
    height: 48vh;
    width: 20vw;
    background-color: #E1E1E1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(-25px 67px 54px rgba(196, 194, 194, 0.68));
    border-radius: 33px;
    margin-bottom: 10%;
}
.titre_produit{
    font-size: 2.3rem;
    color: #527B9E;
    text-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
}
.produit_h1{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #527B9E;
    text-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
}